# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=seu_token_aqui
TELEGRAM_BOT_USERNAME=seu_username_aqui

# Database Configuration
DATASOURCE_URL=jdbc:postgresql://localhost:5432/cobrancapix
DATASOURCE_USERNAME=postgres
DATASOURCE_PASSWORD=sua_senha_postgres_aqui

# Security Configuration
SECURITY_USER_NAME=admin
SECURITY_USER_PASSWORD=sua_senha_admin_aqui

